# Parsing a CSV WITHOUT LOOPS

### Your solution must use indexing, not loops.

Csv files are pretty easy to import into Python. There are several libraries and modules that will handle this for you. But, let's take a look at how to parse strings of csv data from scratch.

CSV (comma separated value) files use commas to separate values (columns) on each line. Every line then ends in a new line character, which looks like this in Python: "\n"

TSV files are just like CSV's, except they use a tab (\t') instead of a comma to separate the values.

Here is a string that represents/simulates an uploaded tsv file as raw text (a single string, instead of an array). Run the cell to create the string variable, "data".

In [1]:
# from data.gov
# https://catalog.data.gov/dataset/demographic-statistics-by-zip-code-acfc9
# https://data.cityofnewyork.us/api/views/kku6-nxdu/rows.csv?accessType=DOWNLOAD

data = """
Zip Code\tTotal Population\tMedian Age\tTotal Males\tTotal Females\tTotal Households\tAverage Household Size
90001\t57110\t26.6\t28468\t28642\t12971\t4.4
90002\t51223\t25.5\t24876\t26347\t11731\t4.36
90003\t66266\t26.3\t32631\t33635\t15642\t4.22
""".strip()

# 1.
Using the 'data' variable, use a combination of the string.split() method, indexing, and (if needed) splicing to create the following variables.

### HINTS
* think about how to extract the first row (the column names, up to the first newline character ('\n').
* then, how to split up the individual cells (column names) on that line, which are separated by tabs ('\t')

In [3]:
## Student Answer Start

## Student Answer End

# your solution should look like the output below:

['Zip Code',
 'Total Population',
 'Median Age',
 'Total Males',
 'Total Females',
 'Total Households',
 'Average Household Size']

# 2.

Now create a list of lists that contains all the data. The first element of your list should be the list you created above. The second element should be a list containing the values/data from row 2. Etc.

### HINTS
* think about how to separate the lines, which are separated by newline characters ('\n'), 
* then how to split up the individual cells on each line, which are separated by commans (',')
* your solution should look like the output below:

In [6]:
## Student Answer Start

## Student Answer End

# your solution should look like the output below:

[['Zip Code',
  'Total Population',
  'Median Age',
  'Total Males',
  'Total Females',
  'Total Households',
  'Average Household Size'],
 ['90001', '57110', '26.6', '28468', '28642', '12971', '4.4'],
 ['90002', '51223', '25.5', '24876', '26347', '11731', '4.36'],
 ['90003', '66266', '26.3', '32631', '33635', '15642', '4.22']]

# 3.
Now create a list of lists, like above, but exclude the column names.

In [6]:
## Student Answer Start

## Student Answer End

# your solution should look like the output below:

[['90001', '57110', '26.6', '28468', '28642', '12971', '4.4'],
 ['90002', '51223', '25.5', '24876', '26347', '11731', '4.36'],
 ['90003', '66266', '26.3', '32631', '33635', '15642', '4.22']]